.CabecalhoHealth{
    text-align: center;
    color: white;
    margin-top: 70px;
    
}
.divPrincipal{
    height: 400px;
    width: 40%;
    border-radius: 10px;
    background-color: rgba(56, 61, 107, 0.5);
    backdrop-filter: blur(10px);
    margin: 30px auto;
    float:left;
    
}
.divTeste{
    float: right;
    width: 30%;
}
.divGráfico{
    margin-top:50px ;
    float: right;
    width: 30%;
}
.tituloFrequenciaGrafico{
    text-align: center;
    color: white;

}
.divInformacaoHealth{
    float:left;
    width: 30%;
    height: 400px;
}
.DataHealth{
    text-align: center;
    padding-top: 20px;
    color: rgb(172, 172, 172);
}
.animacao-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .animacao-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .animacao-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .animacao-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }
.btnChecks{
    padding: 10px 40px;
    border-radius: 7px;
    background-color: #2b5192;
    color: white;
    border: none;

    
}
.centerbtn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.itenscheck{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}
.itenscheck input{
    margin-right:5px;
}
.testes{
    margin-top: 10px;
    height: 30px;
    border-radius: 6px;
    border:none;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}