.backHome{
    height: 100vh;
    
    
}
body{
    background: linear-gradient(#121212, #212b46);
 
}
.header nav ul li{
    color: white;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
  
}
.header{
    background-color: rgba(25, 25, 80, 0.459);
    height: 60px;
    
}

.todolistNavHome{
    margin-left: 40px;
    
}
.todolistNavHome:hover{ 
    background-color: #2f3958;
    border-radius: 10px;
   
}
.healthNavHome{
   margin-left: 10px;
   
}
.healthNavHome:hover{
    background-color: #2f3958;
    border-radius: 10px;
}
.nameNav{
    margin-left: 50px ;
    
}
.div{
    width: 33%;
    text-align: center;
    margin:50px auto;
    float: left;
    color: white;
    
}
.div h1{
    padding: 10px;
}
.containerMain{
    background-color: #212b46;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.msgSemRegistrosDiv{
    padding: 10px;
}
.msgSemRegistros{
    color: rgb(180, 180, 180);
}
.containerItem{
    background-color: #1d2336;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    text-align: start;
    clear: both;
    overflow-wrap: break-word;
    
}
.containerTitle{
    margin-top: 5px;
    margin-left: 10px;
    width: 80%;
   
}
.containerDate{
   display: inline-block;
   text-align: start;
   margin-left:6px;
}
.containerHour{
    display: inline-block;
    text-align: end;
    overflow-wrap: break-word;
}
.containerDescript{
    padding: 3px;
    margin-left: 5px;
    width: 80%;
    
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  
.popup-content {
    background-color: #1d2336;
    width: 40%;
    height: 40%;
    border-radius: 4px;
    clear: both;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.btnADDHome{
   text-align: center;
   padding: 10px 20px;
   border-radius: 7px;
   border: none;
   background-color:#1d2336;
   color:white ;

}
.div_btn_fp{
    display: flex;

    width: 300px;
  justify-content: center;
  margin: 50px auto 0px auto;
}
.perfilIcon{
    float: right;
    margin-right: 100px;

}
.perfilNavHome{
    float: right;
    
}
._popup{
    padding: 10px;
}
.close_button{
    float: right;
    margin: 10px;
    padding: 2px 6px;
    border-radius: 50%;
 color: white;
 background-color: red;
border:none;

}
.inputareaLogin{
    height: 50px;
}
.divbtnaddtask{
    display: flex;

   
  justify-content: center;
}
.btnaddtask{
    padding: 10px;
    border:none;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgba(32, 231, 32, 0.616);
}
.delete{
    float: right;
    color:red;
    background: transparent;
    border:none;
    font-weight: bold;
    padding-right: 10px;
}

.right{
    float: right;
    background: transparent;
    border: none;
   
    padding-right:10px;
    
}
.itembtn{
    
   float: right;
    text-align: right;
    list-style: none;
    

}
.botaoright{
    background-color: rgba(1, 31, 133,0.2);
    border: none;
    padding:2px 5px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    backdrop-filter: blur(10px);

}
.botaoleft{
    background-color: rgba(1, 31, 133,0.2);
    border: none;
    padding:2px 5px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.itembtnc{
    display: inline-block;
    
}
.btnsCard{
    margin: 5px;
}
